
.integration-status-container {
    margin: 10px 0 0 0;
}

#jubelio-form .hide-display {
    display: none;
}

.hide-display {
    display: none;
}

#jubelio-get-product-alert {
    display: none;
}

#link-jubelio-success > span {
    font-size: 10px;
}

.integration-container {
    display: grid;
    grid-auto-columns: 2fr;
}

.integration-container-left {
    grid-column-start: 0;
    grid-column-end: 1;

}
.integration-container-right {
    grid-column-start: 1;
    grid-column-end: 2;
}